<div id="list-toolbar-container" class="list-toolbar-container"></div>
<div id="{{ entity_pluralize|snake_case('-') }}-list-info"></div>
<div id="{{ entity_pluralize|snake_case('-') }}-list" class="datagrid-container"></div>
<div id="dialog"></div>
